@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

body::-webkit-scrollbar-track {
  background: rgb(58, 58, 58); /* color of the tracking area */
}
